
jobs:
  build:
    name: Build app
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      
      - name: Setup dotnet
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '6.0.x'

        # DEPS
      - name: Install dependencies
        run: dotnet restore '${{ env.path }}'

        # BUILD
      - name: Build
        run: dotnet build '${{ env.path }}' --no-restore
        
      env:
        path: "./App/App/App.csproj"
on: 
  push:
    branches:
      - main
