
jobs:
  build:
    name: Build app
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Setup dotnet
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '6.0.x'
      - name: Install dependencies
        run: echo "Restore, ${{ env.path }}"
        run: dotnet restore '${{ env.path }}'
      - name: Build
        run: dotnet build '${{ env.path }}' --no-restore
        env:
          path: "./App/App/App.csproj"
on: 
  push:
    branches:
      - main
